*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
main{
	width: 100%;
}
.list-box{
	width: 960px;
	margin: 50px auto;
}
.list{
	padding: 20px;
}
.list:nth-child(odd){
	background-color: #e7e7e7;
}
.list:nth-child(even){
	background-color: ;
}
.color-boxes{
	width: 960px;
	margin: 0 auto;
	font-size: 0;
}
.box{
    width: 30%;
    height: 200px;
    margin-bottom: 40px;
    margin-right: 5%;
    background-color: yellow;
    display: inline-block;
}
.box:nth-child(1){
	background-color: orange;
}
.box:nth-child(3){
	margin-right: 0px;
}
.box:nth-child(5){
	background-color: orange;
}
.box:nth-child(6){
	margin-right: 0px;
}
.box:nth-child(7){
	margin-bottom: 50px;
}
.box:nth-child(8){
	margin-bottom: 50px;
}
.box:nth-child(9){
	background-color: orange;
	margin-right: 0px;
	margin-bottom: 50px;
}